body
{
  background-image: url(http://localhost/BRM_OOPS/IMAGES/adminlogin.jpg);
  background-size:cover;
}
.btn
{
  background-color: #6f88c4 ;
  width:80px;
  height: 25px;
  position: relative;
  left:130px;
  top: 8px;
  color: black;
  text-decoration: none;
  border: none;
  display:inline-block; 
  border-radius: 20px;
  
}
.btn:hover
{
  color: white;
  background-color: #1e8a9d;
  cursor: pointer;
}